#title {
    margin-block: 6rem 4rem;
}

.platforms_Container {
    display: flex;
    gap: 26px;
}

.background {
    position: relative;
    height: 709px;
    background-size: contain !important;
}

#metatrader_4,
#metatrader_5 {
    background: transparent url('/images/main/platforms-bg.svg') 0% 0% no-repeat padding-box;
    height: 700px;
}

#metatrader_5 p {
    width: 70%;
}

#metatrader_4 p,
#metatrader_4 h4,
#metatrader_5 p,
#metatrader_5 h4 {
    color: var(--dark-color) !important;
}

#mt4_phone {
    margin-left: -7rem;
    width: 56%;
    height: auto;
}

#mt5_phone {
    margin-right: -7rem;
    margin-top: -7rem;
    width: 37%;
    height: auto;
}

#metatrader_Features {
    color: white;
}

#metatrader_Features section {
    height: 470px;
    background: transparent url('/images/main/platform-bottom-box-bg.png') 0% 0% no-repeat padding-box;
    background-position: center;
    border-radius: 8px;
}

#metatrader_Features p {
    font-size: 24px;
}

#booster {
    width: 79px;
    height: 77px;
}

#private_Server {
    width: 48px;
    height: 75px;
}

#central {
    width: 90px;
    height: 77px;
}
.mt4_BottomContent,
.mt5_BottomContent{
    position: absolute;
    font-size: 10rem !important;
    font-weight: 900;
}

.mt4_BottomContent {
    right: 2rem;
    bottom: 2rem;
}

.mt5_BottomContent {
    left: .7rem;
    bottom: 2rem;
}

@media screen and (max-width: 1300px) {
    #metatrader_Features section {
        height: 360px;
    }

    #mt5_phone {
        margin-right: -3rem;
    }
}

@media screen and (max-width: 1200px) {
    .background {
        height: 68vh;
    }

    #metatrader_4,
    #metatrader_5 {
        height: 60vh;
    }
    .mt4_BottomContent,
    .mt5_BottomContent {
        font-size: 8rem !important;
    }

}
@media screen and (max-width: 768px) {
    #metatrader_Features section {
        height: 290px;
    }

}



@media screen and (max-width: 575px) {
    #mt4_phone {
        z-index: 5;
        position: relative;
        margin-left: -4rem;

    }
    .background {
        height: 55vh;
    }
    #metatrader_4,
    #metatrader_5 {
        height: 47vh;
    }
    .mt4_BottomContent{
        left: .7rem;
    }
    #metatrader_5 p {
        width: 100%;
    }
}