
.accontList_Container{
    margin-top: -14rem;
    z-index: 2;
    position: relative;
}
.form_Title{
    color: var(--purple-color) !important ;
}

#userList_Container{
    height: 495px;
    overflow-y: auto;
}
#userList_Container p{
    font-size: 1.1rem;
}


@media screen and (max-width: 768px) {
    .accontList_Container{
        margin-top: -10rem;
    }
 
}
