#award_Winning{
       background: var(--white-color)
}
#award{
    background: url('/images/main/award.png') ;
    height: 476px;
    width: auto;
    background-size: contain;
    background-repeat: no-repeat
}
#bg{
    height: 75vh;
   background:  url('/images/main/Award-Winning-Broker.png') center/cover no-repeat;
}
#bg div{
    margin-top: -4rem;
}

@media screen and (max-width: 1400px) {
    #bg{
        height: 60vh;
    }
 }
 @media screen and (max-width: 768px) {
    #bg{
        height: 40vh;
    }
 }
 