.title{
    margin: 3rem 0;
}
.whyfairmarkets_Container{
    display: flex;
    gap: 36px;
}
.whyfairmarkets_Container div{
    position: relative;
    width:-webkit-fill-available;
    min-width: 220px;
    height: auto;
    background-size: contain !important;
}
.whyfairmarkets_Container div img{
  margin-top: -3rem;
}
.whyfairmarkets_Container div h4{
    width: min-content;
}
.whyfairmarkets_Container div p {
    width: 70%;
}
#lowest_Costs{
    background: var(--purple-color)
}
#instant_Execution{
    background: var(--color-0097d6)
}
#local_Support{
    background: var(--green-color)
}
@media screen and (max-width: 1024px) {
    .whyfairmarkets_Container div p {
        width: 90%;
    }
 }
@media screen and (max-width: 768px) {
    .whyfairmarkets_Container{
        flex-wrap: wrap;
        justify-content: center;
    }
 } 