.mainContent{
    position: relative;
   margin-top: -90px;
}
.contentContainer{
    width: 914px;
    height: 977px;
    /* UI Properties */
    background: transparent url('/images/main/büyük.png') 0% 0% no-repeat padding-box;
    background-size: contain;
    background-position: center;
    opacity: 1;

}

@media screen and (max-width: 1300px) {
    .contentContainer {
        background: transparent url('/images/main/kücük.png') 0% 0% no-repeat padding-box;
        background-size: contain;
        background-position: center;
    }
  }
.contentContainer h2{
    margin-top: 1.5rem;
        margin-bottom: 17rem;
}

.topSmallGold{
    position: absolute;
    top: -7.43rem;
}