@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
   --purple-color: #5770EA;
   --white-color: #FFFFFF;
   --green-color:#17ADA1;
   --color-0097d6: #0097D6;
   --dark-color: #2A2B23;

}

body {
   font-family: Poppins, sans-serif !important;
   opacity: 1;
   background-color: #F7F7F7 !important;
}

.main-container {
   max-width: 1272px !important;
   margin: 0 auto;
}
.main-slider{
   background-color: var(--white-color);
}

h1,
h2 {
   font-size: 48px !important;
   font-weight: bold !important;
   font-family: 'Poppins' !important;
}


h3 {
   font-size: 48px;
   font-family: 'PoppingRegular', sans-serif;
}

h4 {
   font-size: 36px !important;
   font-family: 'Poppins' !important;
   font-weight: bold !important;
   color: var(--white-color) !important;
}

h5 {
   font-size: 16px !important;
   font-family: 'PoppingRegular', sans-serif !important;
   color: #ffffff8c !important;
}

span {
   font-size: 12px;
   font-family: 'PoppingRegular', sans-serif;
   color: #ffffff8c;
}
p{
   font-size: 24px;
   color: var(--white-color);
}



/* BUTTON */
.primary-btn {
   text-align: center;
   width: 200px;
   text-decoration: none;
   background-color: #5770EA;
   color: white;
   font-weight: bold !important;
   font-family: 'Poppins' !important;
   height: 48px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 4px;
}



footer {
   padding: 5rem 0;
   background-color: #2A2B23;
}



 .form-control.is-invalid{
   background-image: none !important;
}

.form-floating > .form-control::placeholder {
   color: revert !important;
}

.form-floating > .form-control:not(:focus)::placeholder {
   color: transparent !important;
}


/* Media Queries */
@media screen and (max-width: 1400px) {
   .main-container {
      max-width: 1140px !important;
   }
}

@media screen and (max-width: 1200px) {
   .main-container {
      max-width: 960px !important;
   }

   h1,
   h2 {
      font-size: 2.5rem !important;
   }
   h3,h4{
      font-size: 1.7rem !important;
   }
   p{
      font-size: 1.2rem !important;
   }
}

@media screen and (max-width: 992px) {
   .main-container {
      max-width: 720px !important;
   }
}
@media screen and (max-width: 768px) {
   .main-container {
      max-width: 540px !important;
   }
   h1,
   h2 {
      font-size: 1.5rem !important;
   }
   h3,h4{
      font-size: 1.3rem !important;
   }
   p{
      font-size: 1.1rem !important;
   }
   footer{
      padding: 4rem 0;
   }
}
@media screen and (max-width: 575px) {
   .main-container {
      padding: 0 1rem;
   }
 
}